<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link href="/static/css/base.css" rel="stylesheet" type="text/css" />
        <script src="/static/bootstrap/js/jquery.js"></script>
        <style>
            #registerBox {
                width: 400px;
                margin: 0 auto;
                padding: 7px;
            }
        </style>
        <title>注册到《幻想西游online》</title>
    </head>
    <body>
        <div class="mainPage">
            <div class="container jumbotron" id="registerBox">
                <form id="registerForm"  method="post" class="form-horizontal" role="form" >
                    <div class="form-group">
                        <label for="username" class="col-sm-3 control-label">用户名</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="username"  name="username"
                                   placeholder="请输入用户名">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-3 control-label">密码</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="password"  name="password"
                                   placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="re-password" class="col-sm-3 control-label">确认密码</label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" id="rePassword" 
                                   placeholder="请确认密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-5">
                            <button type="submit" class="btn btn-default">注册</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <span style="color: red;margin-left: 10px;font-size: 20px;" id="errorInfo" ></span>
                    </div>
                </form>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                
                $("#username").blur(function () {
                    var uname = this.value;
                    if (uname.length >= 6) {
                        $.ajax({
                            url: "/register/validate_name",
                            data: {username: uname},
                            success: function (data) {
                                if (data.ifExisted) {
                                    $("#errorInfo").html("* 该用户名已被占用, 请换个用户名!");
                                } else {
                                    $("#errorInfo").html("");
                                }
                            }
                        });
                    }
                });

                $("#registerForm").submit(function () {
                    var username = $("#username").val().trim();
                    var pwd = $("#password").val().trim();
                    var rePwd = $("#rePassword").val().trim();
                    var $errorInfo = $("#errorInfo");

                    var infoValid = true;
                    var errorInfo = "";
                    $errorInfo.html(errorInfo);
                    if (username === '' || username.length < 6) {
                        infoValid = false;
                        errorInfo = "* 用户名必须不为空且长度不小于6";
                    } else if (pwd === '' || pwd.length < 6) {
                        infoValid = false;
                        errorInfo = "* 密码必须不为空且长度不小于6";
                    } else if (pwd !== rePwd) {
                        infoValid = false;
                        errorInfo = "* 确认密码与密码不一致";
                    }
                    $errorInfo.html(errorInfo);

                    if (infoValid) {
                        $.ajax({
                            url: "${contextPath}/register/doRegister.json",
                            type: "post",
                            data: {username: username, password: pwd},
                            success: function (data) {
                                if (data.ifSucceed) {
                                    alert("恭喜您成功注册到《幻想西游online》");
                                    location.href = "${contextPath}/login/ui.html";
                                } else {
                                    $errorInfo.html("* " + data.msg);
                                }
                            }
                        });
                    }
                    return false;
                });
            });
        </script>
    </body>
</html>
