/* 
    Created on : 2018-5-8, 10:42:50
    Author     : Lin
*/
body {
/*    text-align: center;*/
}

.mainPage {
    margin: 0 auto;
    margin-top: 45px;
}

.grayBorder {
    border: 1px solid gray;
}

